.top-navigation-wrapper{ background-color: #272727; }
.top-navigation-wrapper{ color: #cecece; }
.top-navigation-wrapper a{ color: #f2f2f2; }
.top-social-wrapper .social-icon a{ color: #fcfcfc; }
.top-social-wrapper .social-icon{ font-size: 14px; display: inline; margin-left: 6px; }
.top-social-wrapper .social-icon a{ opacity: 0.6; filter: alpha(opacity=60); }
.top-social-wrapper .social-icon a:hover{ opacity: 1; filter: alpha(opacity=100); }

.top-navigation-wrapper{ position: relative; z-index: 98;padding: 11px 0px; font-size: 13px; line-height: 18px; }
.top-navigation-left{ float: left; margin: 0px 15px; }
.top-navigation-right{ float: right; margin: 0px 15px; }

body .top-navigation-left{ float: none; text-align: center; padding: 3px 0px;}
body .top-navigation-right { float: none; text-align: center; padding: 3px 0px;}
